<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <servlet>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.cisco.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.cisco.MyServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Name in Config</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>Name in Context</param-value>
  </context-param>
  <filter>
    <display-name>NumFilter</display-name>
    <filter-name>NumFilter</filter-name>
    <filter-class>com.cisco.NumFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NumFilter</filter-name>
    <url-pattern>/NumFilter</url-pattern>
  </filter-mapping>
</web-app>